<%-include("../partials/header.ejs")%>
<%- include("../partials/navbar.ejs") %>



<div class="contactcon">
    <div class="contact1">
        <div class="contacth1">We''re Here</div>
        <div class="contacth2">Our door is always open for a good cup of tea</div>
    </div>
    <div class="contact2">
        <div class="contacth1">Let's Talk</div>
        <div class="contacth2">Share your excitement with us</div>
        <!-- <div class="contacth3"><a href="#">pjaimind031@gmail.com <i class="fa-solid fa-arrow-right"></i></a></div> -->
        <div class="contacth3"><a href = "mailto: pjaimind031@gmail.com">pjaimind031@gmail.com <i class="fa-solid fa-arrow-right"></i></a></div>
    </div>
</div>   

<div class="contactcon2">
    <div class="contacth4">Feel free to contact us!</div>
    <div class="contacth5"><img src="/images/logo2.png" alt="" srcset=""></div>
    <div class="contacth6">
        <div class="icon"><a href="https://www.instagram.com/jaimin_031/" target="_blank" class="link"><i
            class="fa-brands fa-instagram"></i></a></div>
        <div class="icon"><a href="https://www.facebook.com/profile.php?id=100051235361378" target="_blank" class="link"><i
            class="fa-brands fa-facebook"></i></a></div>
        <div class="icon"><a href="https://github.com/jaiminpatel2108" target="_blank" class="link"><i
            class="fa-brands fa-github"></i></a></div>
    </div>
</div>


<%-include("../partials/footer.ejs")%>