<%- include("../partials/header.ejs") %>

    <%- include("../partials/navbar.ejs") %>
    

    <!-- the main content will be start from the here -->
    <div class="container">
        <div class="part1">
            <div class="p1">Time to Host Your Own</div>
            <div class="p">Website on Internet</div>
            <div class="p2">Here the good news for you, thnaks for connecting with me and now you can host the your
                own website on your own with the help of the me</div>
            <div><a href="/service"><input type="button" value="Read More.." class="p3"></a></div>
        </div>
        <div class="part2">
            <img src="/images/laptop.png" class="backgroundimg" alt="">
        </div>
    </div>

    <div class="vision">Vision of the Work</div>

    

    <div class="container2">
        <div class="part3">
            <p class="c2p">Lots of useful features for your future Website are given below</h1>
            <ul>
                <li>5 or more pages</li>
                <li>responsive</li>
                <li>authanticate</li>
                <li>with database</li>
                <li>neet ant sharpe</li>
            </ul>
        </div>
        <div class="part3">
            <img src="/images/res.png" class="fimg" alt="">
            <div class="fheading">Responsive</div>
            <div class="subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, nisi? Expedita
                ea sed architecto facere voluptas fugit natus maxime amet animi assumenda laborum, nam modi quo
                voluptatum minima, ex eius laudantium atque enim eaque?</div>
        </div>
        <div class="part3">
            <img src="/images/b.png" class="fimg" alt="">
            <div class="fheading">Authanticate</div>
            <div class="subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, nisi? Expedita
                ea sed architecto facere voluptas fugit natus maxime amet animi assumenda laborum, nam modi quo
                voluptatum minima, ex eius laudantium atque enim eaque?</div>
        </div>
    </div>

    <div class="container3part1 vision">
        Here The More Information About My Work
    </div>
    <div class="container3">
        <div class="container3part2">
            <div class="container3heading"><i class="fa-sharp fa-solid fa-arrow-right"></i>  Content Quality</div>
            <div class="container3content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto fugit dignissimos dicta reiciendis nostrum tempora suscipit beatae quibusdam molestiae necessitatibus accusamus, eaque vitae excepturi. Atque nemo distinctio quos id praesentium quibusdam cumque quaerat?</div>
            
            <div class="container3heading"><i class="fa-sharp fa-solid fa-arrow-right"></i>  With database</div>
            <div class="container3content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto fugit dignissimos dicta reiciendis nostrum tempora suscipit beatae quibusdam molestiae necessitatibus accusamus, eaque vitae excepturi. Atque nemo distinctio quos id praesentium quibusdam cumque quaerat? </div>
            
            <div class="container3heading"><i class="fa-sharp fa-solid fa-arrow-right"></i>  Authantication</div>
            <div class="container3content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto fugit dignissimos dicta reiciendis nostrum tempora suscipit beatae quibusdam molestiae necessitatibus accusamus, eaque vitae excepturi. Atque nemo distinctio quos id praesentium quibusdam cumque quaerat?</div>
            
            <div class="container3heading"><i class="fa-sharp fa-solid fa-arrow-right"></i>  More than Single Page</div>
            <div class="container3content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto fugit dignissimos dicta reiciendis nostrum tempora suscipit beatae quibusdam molestiae necessitatibus accusamus, eaque vitae excepturi. Atque nemo distinctio quos id praesentium quibusdam cumque quaerat?</div>
            
            <div class="container3heading"><i class="fa-sharp fa-solid fa-arrow-right"></i>  Responsiveness</div>
            <div class="container3content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto fugit dignissimos dicta reiciendis nostrum tempora suscipit beatae quibusdam molestiae necessitatibus accusamus, eaque vitae excepturi. Atque nemo distinctio quos id praesentium quibusdam cumque quaerat?</div>
        </div>
    </div>

<%-include("../partials/footer.ejs")%>