<%- include("../partials/header") %>
    <div class="containersignup">
        <div class="signupheading">LogIn</div>
        <div class="signupheading2">Stay tuned for the more information</div>
        
        <form action="/login" method="POST" class="form">
            <input type="email" name="email" placeholder="Enter Your Email here">
            <input type="password" name="password" placeholder="Password">

            <input type="submit" value="Login" class="signupbtn">
            <div class="or">OR don't have an account <a href="/signup" class="slink">SignUp</a></div> 
        </form>
    </div>

</body>

</html>