<%-include("../partials/header.ejs")%>

    <%- include("../partials/navbar.ejs") %>

    

    <div class="service1con">
        <p class="serviceh1">Service & Support</p>
        <p class="serviceh2">I will offer Premium Consulting and the best experiance for your website, you will not
            feel regret after the joinig me</p>
    </div>

    <div class="service2con">
        <div class="container3content1" >A complete Front-End and Back-End
            Devlopment</div>
        <div class="container3content2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto fugit
            dignissimos dicta reiciendis nostrum tempora suscipit beatae quibusdam molestiae necessitatibus
            accusamus, eaque vitae excepturi. Atque nemo distinctio quos id praesentium quibusdam cumque quaerat?
        </div>
        <hr class="hr1">
    </div>

    <div class="service3con colom">
        <div class="servicepart1">
            <div class="container3content1">Saftey of User Information
            </div>
            <div class="container3content2">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Amet aperiam repudiandae dolor vero reiciendis temporibus commodi, reprehenderit
                architecto voluptatem obcaecati?</div>
        </div>
        <div class="servicepart2">
            <img src="/images/servicesafety.png" alt="" srcset="">
        </div>
    </div>

    <hr>

    <div class="service3con">
        <div class="servicepart2">
            <img src="/images/service2.jpeg" alt="" srcset="">
        </div>
        <div class="servicepart1">
            <div class="container3content1">Website Authantication
            </div>
            <div class="container3content2">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Amet aperiam repudiandae dolor vero reiciendis temporibus commodi, reprehenderit
                architecto voluptatem obcaecati?</div>
        </div>
    </div>

    <hr>

    <div class="service3con colom">
        <div class="servicepart1">
            <div class="container3content1">Responsiveness of the website
            </div>
            <div class="container3content2">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Amet aperiam repudiandae dolor vero reiciendis temporibus commodi, reprehenderit
                architecto voluptatem obcaecati?</div>
        </div>
        <div class="servicepart2">
            <img src="/images/responsive2.jpg" alt="" srcset="">
        </div>
    </div>

    <hr>

    <div class="service3con">
        <div class="servicepart2">
            <img src="/images/db.png" alt="" srcset="">
        </div>
        <div class="servicepart1">
            <div class="container3content1">Securly stored User information
            </div>
            <div class="container3content2">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Amet aperiam repudiandae dolor vero reiciendis temporibus commodi, reprehenderit
                architecto voluptatem obcaecati?</div>
        </div>
    </div>


<%-include("../partials/footer.ejs")%>