<div class="footer">
    <div class="footer1">
        Copyright <i class="fa-regular fa-copyright"></i> 2023 Surat Gujarat, Inc. All Right Reserved
    </div>
    <div class="footer2">
        <div>

            
                <a href="https://www.instagram.com/jaimin_031/" target="_blank" class="link"><i
                            class="fa-brands fa-instagram footericon"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100051235361378" target="_blank" class="link"><i
                            class="fa-brands fa-facebook footericon"></i></a>
                <a href="https://github.com/" target="_blank" class="link"><i class="fa-brands fa-github footericon"></i></a>
                
                <i class="fa-brands fa-twitter footericon"></i>
                +91 8160787125
            
        </div>
    </div>
</div>


<script src="/js/home.js"></script>
</body>

</html>