<nav class="nav" id="nav">
    <div class="nav1">
        <img src="/images/logo2.png" class="logo">
    </div>
    <div class="userinfo">

        <% if(user){ %>
            <div class="name">Welcome, <%= user.username%></div>
            <div><a href="/logout"><input type="button" value="logout" class="sbtn"></a></div>
        <% } else {%>
        <div><a href="/login"><input type="button" value="Login" class="sbtn"></a></div>
        <div><a href="/signup"><input type="button" value="Signup" class="sbtn"></a></div>
        <% }%>

    </div>
    <div class="nav2">
        <ul>
            <li><a href="/" class="link">Home</a></li>
            <li><a href="/service" class="link">Service</a></li>
            <li><a href="/about" class="link">About</a></li>
            <li><a href="/contact" class="link">Contact</a></li>
            <li><a href="https://www.instagram.com/jaimin_031/" target="_blank" class="link"><i
                        class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100051235361378" target="_blank" class="link"><i
                        class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://github.com/jaiminpatel2108" target="_blank" class="link"><i
                        class="fa-brands fa-github"></i></a></li>
        </ul>
    </div>


    <div class="ham" id="ham"><i class="fa-solid fa-bars" id="icon"></i></div>
</nav>
<div class="hammenu" id="hammenu"></div>